* {
    margin: 0px;
    color: white;
}


body {
    background-size: 200%;
    background-image: linear-gradient(
        to bottom left,
        grey 0%,
        black 100%
    );

    transition: 600ms ease;
}

 body:hover {
    background-position: 100% 0;  
 }

#title1 {
    text-align: center;
    margin-top: 10px;
    animation-name: slidein;
    animation-duration: 5s; 
    animation-delay: 0.0001s; 
}

#title2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    animation-name: slidein;
    animation-duration: 5s; 
    animation-delay: 0.0001s; 

}

.pf { 
    margin: 20px 40px 20px 40px;
    text-align: justify;
}

.foto {
    border-radius: 50%;
    width: 80%;
    align-content: center;    
}

#fot {
    display: flex;
    justify-content: center;
}

@keyframes slidein {

    from {
        margin-left: 100%;
        width: 100%;
        color: black
    }

    to {
        margin-left: 0%;
        width: 100%;
     color: white;
   }

}
